* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

nav {
  background-color: #444;
  color: #fff;
  padding: 10px 0px;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
    font-size: "25px";
}

ul {
  display: flex;
  list-style-type: none;
}

ul li {
  margin-right: 10px;
}

.card-container {
  background-color: blueviolet;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 20px;
  margin: 20px 0px;

}

.card {
  background-color: coral;
  color: #fff;
  margin-right: 10px;
  padding: 10px 20px;
  flex: 1;
  border-radius: 10px;
}

.card p {
  font-size: 14px;
}

@media only screen and (max-width: 768px){
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    /* display: block; */
    margin: 0px 0px;
  }

  .card {
    margin: 20px 20px;
  }

  .container {
    width: 100%;
  }
}